html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', rel='stylesheet' integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ' crossorigin='anonymous')

  body
    nav.navbar.navbar-toggleable-md.navbar-inverse.bg-inverse.mb-4
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      a.navbar-brand(href='/') Next Int
      #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          if (loggedIn)
            li.nav-item.active
              a.nav-link(href='/')
                | Home 
                span.sr-only (current)
            li
              a.nav-link(href="/v1/logout", title="logout") Logout
          else
            li.nav-item
              a.nav-link(href='/v1/login') Login
            li.nav-item
              a.nav-link(href='/v1/signup') Signup

    div.container
      .messages
        include ./includes/messages.pug

    div.container
      block content

    script(src='https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js' integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn' crossorigin='anonymous')