html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', rel='stylesheet' integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ' crossorigin='anonymous')
    link(href='/css/gsdk.css' rel='stylesheet' )
    link(href='/css/app.css' rel='stylesheet' )
  body
    nav.navbar.mb-4.navbar-ct-azure.all-center
      a.navbar-brand(href='/') Next Int
      #navbarCollapse2.navbar-collapse
        ul.navbar-nav.mr-auto
          if (loggedIn)
            li.nav-item.active
              a.nav-link(href='/')
                | Home 
                span.sr-only (current)
            li
              a.nav-link(href="/logout", title="logout") Logout
          else
            li.nav-item
              a.nav-link(href='/login') Login
            li.nav-item
              a.nav-link(href='/signup') Signup

    div.container
      .messages
        include ./includes/messages.pug

    div.container
      block content

    script(src='https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js' integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn' crossorigin='anonymous')
    script(src='/js/app.js')