extends base

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Home page
    .row
      .col-md-6
        p Your current int

        div.controls
          button(type="button").btn.btn-primary.get-next Get Next
          button(type="button").btn.btn-primary.reset Reset

        